#root {
  text-align: center;
  font-family: sans-serif;
  background-color: #edeff1;
  --text-gray: #8b8b8b;
  --background: #ffffff;
  --foreground: #171717;

  --color-label-lime: #34d399;
  --color-label-yellow: #fbbf24;
  --color-label-orange: #fb923c;
  --color--label-blue: #3b82f6;
  --color-label-purple: #a78bfa;
  --color-label-green: #61bd4f;

  --color-gray: #9ca3af;
  --color-white: #ffffff;
  --color-black: #111827;
  --color-bg: #f9fafb;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
